.card {
  margin: 5px;
  border: 1px black solid;
  float: left;
  width: 19%;
  height: 20%;
  position: relative;
  font-family: sans-serif;
  border-radius: 5px;
}
.card h2 {
  width: 100%;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 0px;
}
.card h3 {
  font-style: italic;
  width: 100%;
  text-align: center;
  margin-top: 0px;
}
.card.white {
  border: 1px black solid;
  background-color: #FFF;
  color: #000;
}
.card.blue {
  border: 1px #0D47A1 solid;
  background-color: #448AFF;
  color: #0D47A1;
}
.card.red {
  border: 1px #B71C1C solid;
  background-color: #FF8A80;
  color: #B71C1C;
}
.card.black {
  border: 1px #FFF solid;
  background-color: #000;
  color: #FFF;
}
.card.tan {
  border: 1px #E65100 solid;
  background-color: #FFD180;
  color: #E65100;
}

.bottom-left {
  position: absolute;
  bottom: 5;
  width: 100%;
  left: 1;
}
.bottom-right {
  position: absolute;
  bottom: 5;
  width: 99%;
  text-align: right;
}
.top-left {
  position: absolute;
  top: 5;
  width: 99%;
  left: 1;
}
.top-right {
  position: absolute;
  top: 5;
  width: 99%;
  text-align: right;
}
